{
  "presets": [["@babel/preset-env"], "@babel/preset-react"],
  "plugins": [
    "transform-class-properties",
    "@babel/plugin-transform-regenerator",
    "react-hot-loader/babel",
    "universal-import", // allows us to leave the magic commment
    "transform-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
        // "version": "7.0.0-beta.0"
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
