h1 {
  color: rgb(182, 13, 13);
  font-size: 5em;
  text-shadow: 20px 20px 20px blue;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

img {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}
